<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./customLink/head.ejs") %>
    <title>Blog Details</title>
  </head>
  <body>
    <%- include("./navbar.ejs") %>

    <div
      class="card"
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      "
    >
      <img
        src="/public<%=blog.coverImage%>"
        alt="blogJob"
        style="height: 400px; object-fit: contain"
      />

      <div class="card-body">
        <h5 class="card-title" style="text-align: center"><%=blog.title%></h5>
        <p class="card-text" style="width: 700px"><%=blog.description%></p>
      </div>
    </div>
  </body>
  <%- include("./customLink/script.ejs") %>
</html>
