<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./customLink/head.ejs") %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include("./navbar.ejs") %> <% if (user) { %>
    <div
      style="
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin: 16px;
        width: 100%;
        height: 100%;
      "
    >
      <% blog.forEach(data => { %>
      <div class="card" style="width: 18rem; display: flex">
        <img
          src="/public<%=data.coverImage%>"
          class="card-img-top"
          alt="blogJob"
          style="height: 200px; object-fit: cover"
        />

        <div class="card-body">
          <h5 class="card-title"><%=data.title%></h5>
          <p style="height: 100px; overflow: auto" class="card-text">
            <%=data.description%>
          </p>

          <a href="/blog/<%=data._id%>" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <% }) %>
    </div>
    <% } %>
  </body>
  <%- include("./customLink/script.ejs") %>
</html>
